<!doctype html>
<html lang="en" xml:lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="{{relURL "main.css"}}">
  </head>
  <body>
    <nav class="navigation">
      <div class="navigation__logo">
        <a href="{{relURL "/"}}"><img width="64" height="64" src="{{relURL "/images/logo.png"}}"></a>
      </div>
      <ul class="navigation__entries">
        <li class="navigation__entry"><a href="{{relURL "/guides/"}}">Guides</a></li>
      </ul>
    </nav>
    <main class="main">
      {{template "main" .}}
    </main>
  </body>
</html>
